.orta {
margin-top: 100px;
margin-left: auto;
margin-right: auto;
}

.ortaiki {
margin-left: auto;
margin-right: auto;
}

.ortauc {
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
}

.ortadort {
 margin-top: -2px; 
}

.yuzdeyirmibes{
  width: 25%;
}

.gitbuton{
  border-radius: 8px;
}

.ortala {
  display: block;
  justify-content: center;
}

.cardbaslik {
  width: 1160px;
}

.yok {
  display: "none";
}

body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}



main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}


.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  border-radius: 8px;
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  max-height: 360px;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  border-radius: 8px;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__price {
  font-size: 15px;
  margin-left: 10px;
  padding: 5px 20px;
  color: #03a3bc;
  background-color: #ececec;
  border-radius: 20px;
}

.card__altbasliklar {
  margin-left: auto;
  padding-right: 22px;
}

.card__sil {
  font-size: 15px;
  margin-left: auto;
  padding: 5px 20px;
  background-color: #cc5757;
  border-radius: 20px;
}

.card__iletisim {
  color: white;
  font-size: 15px;
  margin-left: auto;
  padding: 5px 20px;
  background-color: #03a3bc;
  border-radius: 20px;
  text-align: center;
  display: none;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}

#white-background{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #101010;
            opacity: 0.5;
            z-index: 9999;
        }

        #dlgbox{
            /*initially dialog box is hidden*/
            display: none;
            position: fixed;
            width: 480px;
            z-index: 9999;
            border-radius: 10px;
            background-color: #029db5;
        }

        #dlg-header{
            background-color: #029db5;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0 10px;
        }

        #dlg-body{
          /*border-radius: 10px;*/
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 15px;
            margin: 0 10px -5 10px;
        }

        #dlg-footer{
            border-radius: 10px;
            background-color: #ffffff;
            text-align: right;
            padding: 10px;
            margin: 0;
            margin-top: -20px;
        }

       #dlg-footer button{
           border: 2px solid black;
        }

        #basvurdialog{
            /*initially dialog box is hidden*/
            display: none;
            position: fixed;
            width: 480px;
            z-index: 9999;
            border-radius: 10px;
            background-color: #029db5;
        }

        #bvr-header{
            background-color: #029db5;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0 10px;
        }

        #bvr-body{
          /*border-radius: 10px;*/
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 15px;
            margin: 0 10px -5 10px;
        }

        #bvr-footer{
            border-radius: 10px;
            background-color: #ffffff;
            text-align: right;
            padding: 10px;
            margin: 0;
            margin-top: -20px;
        }

       #bvr-footer button{
           border: 2px solid black;
        }

        #edlgbox{
            /*initially dialog box is hidden*/
            display: none;
            position: fixed;
            width: 480px;
            z-index: 9999;
            border-radius: 10px;
            background-color: #029db5;
        }

        #edlg-header{
            background-color: #029db5;
            color: white;
            font-size: 20px;
            padding: 10px;
            margin: 10px 10px 0 10px;
        }

        #edlg-body{
          /*border-radius: 10px;*/
            background-color: white;
            color: black;
            font-size: 14px;
            padding: 15px;
            margin: 0 10px -5 10px;
        }

        #edlg-footer{
            border-radius: 10px;
            background-color: #ffffff;
            text-align: right;
            padding: 10px;
            margin: 0;
            margin-top: -20px;
        }

       #edlg-footer button{
           border: 2px solid black;
        }

.siteheader {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pribtn {
  background-color: #03a3bc !important;
  border-color: #03a3bc !important;
}

button.secbtn {
  border-color: #03a3bc !important;
  color: #03a3bc !important;
}

button.pribtn:hover{
  background-color: #027689 !important; /* Green */
  color: white !important;
}

button.secbtn:hover {
  border-color: #03a3bc !important;
  color: #03a3bc !important;
}