/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

input {
  border: 1px solid silver;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:16px;
}

.ust{
  margin-top: 10px;
}

.paddinglr {
  margin-right: 185px;
  margin-left: 185px;
}

.kullaniciikon {
  max-width: 25px;
  max-height: 25px;
  margin-top: 6px;
}

.kulikobtn{
  border: none;
  background-color: transparent;
}

input.kucukcheck {
		width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    outline-color: #cccccc;
}

.siteheader {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pad10 {
  padding-bottom: 6px;
}

.mt10 {
  margin-top: 100px;
}

.slaytresim{
  border-radius: 10px;
}

a.navbaritem:hover{
  background-color: transparent !important;
  text-shadow: 2px 2px lightgray;
}

.collapsible {
  background-color: white;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #03a3bc;
}

.active, .collapsible:hover {
  background-color: #cccccc !important;
}

.active{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  margin-bottom: 7px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  max-width: 1160px;
  color: #03a3bc;
}

.pribtn {
  background-color: #03a3bc;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
  flex-direction: column;
}

.yaflex {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.slider {
  width: 1160px;
  height: 100px;
  position: relative;
  background: transparent;
  display: flex;
  overflow: hidden;
}

.slide {
  height: 100px;
  display: flex;
  align-items: center;
  animation: slideshow 9s linear infinite;
}

.wrapper:active .slide,
.wrapper:hover .slide {
  animation-play-state: paused;
}

.slide img {
  height: 70px;
  padding: 0 30px 0 30px;
}

@keyframes slideshow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

.slider::before, .slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, #03a3bc 0%, rgba(255,255,255,0) 10%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right:0;
  top:0;
  transform: rotateZ(180deg);
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */


.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
  .w3-top{
    position: absolute !important;
  }
}

.tab {
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #f1f1f1;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #dddddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #cccccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.tabcontentt {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.avatar {
  width: 200px;
  margin-bottom: 30px;
  margin-left: 5px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid white;
  background-color: gray;
}

.avatarsvg {
  border-radius: 50%;
  background-color: gray;
  transform: scale(0.9);
}
  
